.container_reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.menuReservation {
  display: flex;
  gap: 1rem;
}

.menuReservation button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #3071a9;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.reservation_table {
  width: 100vw;
}

.reservation_header,
.reservation_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  padding: 0.5rem;
  align-items: center;
}

.reservation_row div:last-child {
  display: flex;
  gap: 1rem;
}

.reservation_row button {
  padding: 0.5em;
  font-size: 1rem;
  background-color: #3071a9;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}
.btnAdd {
  width: 146px;
}
.menuReservation .btnRoom {
  background-color: #dd8330;
}
.menuReservation .btnReser {
  background-color: #adaaa9;
}
.menuReservation .btnUser {
  background-color: #29da43;
}
.menuReservation .btnMess {
  background-color: #fc2a50;
}
.btnAdd{
    background-color: #dd8330;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 7px;
}
.reservation_row .btnUpdate{
    background-color: #29da43;
}
.reservation_row .btnDel{
    background-color: #fc2a50;
}
.modal-content{
  background-color: #DFDFDF;
  width: 40%;
    margin: 0  auto;
    padding: 30px;
}
.modal-body{
  margin: 15px 0 15px 0;
}
.modal-footer {
text-align: center;
  
}
.modal-footer .btnYes{
    margin-right: 70px;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: #5B4E4E;
    border: 0;
    border-radius: 10px;
}
.modal-footer .btnNo{
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: #5B4E4E;
  border: 0;
  border-radius: 10px;
  margin-left: 70px;
}

