/* CreateReser.css */

/* .container_reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  .menuReservation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .menuReservation button {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .menuReservation button:hover {
    background-color: lightgrey;
  } */
  
  .formAdd {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
  }
  
  .formAdd p {
    margin-bottom: 10px;
  }
  
  .formAdd input[type="text"] {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid grey;
    width: 50%;
  }
  
  h1 {
    margin-top: 50px;
  }
  .createReser{
    background-color: #dd8330;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px;
  }